@page
@model ProductModel
@{
}
<div>
    <p>@Model.Product.Name</p>
    <p>@Model.Product.Description</p>
    <p>@Model.Product.Value</p>
    <div>
        <label>Stock</label>
        <select>
            @foreach (var s in Model.Product.Stock)
            {
                @*<option value="@s.Id">@s.Name</option>*@
                <option value="@s.Id">ss</option>
            }
        </select>
    </div>
</div>